<section id="content">
  <div class="container">
    <div class="row">
      <div class="span8">
        <%= render 'form', blog: @blog %>

        <%= link_to 'Back', blogs_path %>
      </div>

      <%= render "sidebar" %>

    </div>
  </div>
</section>
