<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <li><% if params[:controller] == 'blogs' %>
      <%= link_to @title, blogs_path %>
    <% end %>
  </li>
  <li class="active"><%= params[:action] %></li>
</ul>